*{
    margin:0px;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 12px;
	color: #0019D2;
	background: #FFFFFF;
}

h1{
	font-family: "Helvetica";
	color:#c0c0c0;
	font-size: 80px;
	margin: 0;
	padding: 0;
}

h2{
	font-family: "Arial";
	color:#3E3ECD;
	font-size: 35px;
	margin: 0;
	padding: 0;
}

h3{
	font-family: 'Roboto', sans-serif;
	color: blue;
	font-size: 24px;
	margin: 0;
	padding: 0;
}

h4{
	font-family: "Arial";
	color:#c0c0c0;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

h5{
	font-family: "Arial";
	color:#c0c0c0;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

p{
	margin: 30px;
}

header{
    position: relative;
    width:100%;
    height: 80px;
    overflow: hidden;
    background: #FFFFFF;
    margin-bottom: 20px;
}

.contenedor-formulario{
    width: 100%;
    color: white;
}
/*
.contenedor-formulario h3{
    color: blue;
}*/

.contenedor-formulario .formulario{
    width: 100%;
    margin: auto;
}

.contenedor-formulario .formulario .input_group{
    position: relative;
    margin-bottom: 32px;
}

.contenedor-formulario .formulario .input_group input{
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    color: blue;
    width: 100%;
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #008CFF;
}

.contenedor-formulario .formulario .input_group label{
    color: black;
}

.label{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 16px;
    margin-left: 16px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.active{
    top: -12px;
    font-size: 12px;
    line-height: 12px;
    color: grey;
}

.contenedor-formulario .formulario .input_group input:focus,.contenedor-formulario .formulario .input_group input:active{
    outline: none;
    border-bottom: 2px solid blue;
}

.contenedor-formulario .formulario input[type="submit"]{
    background: blue;
    border-radius: 1px;
    border: 1px solid blue;
}

.wrapper{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.wrapH{
    width: 90%;
    max-width: 500px;
    padding: 40px;
    margin: auto;
    background: #FFF;
    box-shadow: 0px 0px 3px blue;
}

header .imagenlogo{
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    float: left;
    width: 280px;
    height: 80px;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    clear: both;
    padding: 40px 0;
    box-shadow: 0px 2px 2px #000;
}

footer nav a{

}

header .logo{
    position: absolute;
    width: 60%;
    left: 280px;
    padding-top: 20px;
    height: 50px;
    color: #1000F7;
    font-size: 25px;
    text-align: center;
    line-height: 25px;
}

header nav{
    position: absolute;
    padding-top: 10px;
    width: 200px;
    right: 0;
    line-height: 20px;
}

header nav a{
    display: inline-block;
    color: #3700FC;
    text-decoration: none;
    padding:10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    transition: all 500ms ease;
}

header nav a:hover{
    background: #1000F7;
    border-radius: 50px;
    color: #FFFFFF;
}

.tabla{
    position: relative;
    width: 90%;
    margin: auto;
}

#VerPac{
	position: absolute;
    left: 0;
    width: 500px;
    height: 500px;
	padding: 50px;
	z-index: 2;
	background-color: #FFFFFF;
	border: #00CFD2 10px solid;
}

#VerEsp{
	position: absolute;
    right: 0;
	width: 500px;
	height: 500px;
	padding: 50px;
	z-index: 2;
    background-color: #FFFFFF;
    border: #00CFD2 10px solid;
}

#VerPac2{
    position: relative;
    text-align: center;
    width: 500px;
    height: 500px;
    margin: auto;
	padding: 50px;
	z-index: 2;
	background-color: #FFFFFF;
	border: #00CFD2 10px solid;
}

#VerPac a,#VerEsp a{
    position: relative;
}

#VerPac a img,#VerEsp a img{
    position: relative;
    margin: auto;
}

.menuadm{
    width: 75%;
    height: 535px;
    margin: auto;
    position: relative;
}

.datos{
	width: 150px;
	height: 25px;
}

.ocultar{
	display: none;
}